In [1]:
import pandas as pd

/Users/ricalanis/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [4]:
mm_df = pd.read_csv('mm.csv', encoding='latin-1')

In [5]:
mm_df

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD
0,0,0,NO ESPECIFICADO,0,35,4,UNION LIBRE,8,CHIHUAHUA,29,...,5,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
1,0,0,NO ESPECIFICADO,0,20,5,CASADO,8,CHIHUAHUA,47,...,6,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años
2,1962,7,JULIO,12,39,5,CASADO,12,GUERRERO,20,...,24,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
3,1974,2,FEBRERO,10,27,5,CASADO,12,GUERRERO,41,...,17,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años
4,1980,4,ABRIL,18,20,4,UNION LIBRE,18,NAYARIT,9,...,15,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19927,1985,7,JULIO,16,33,5,CASADO,28,TAMAULIPAS,3,...,20,2019,1,ENERO,19,2019,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,5,30 a 34 años
19928,2001,8,AGOSTO,31,17,1,SOLTERO,28,TAMAULIPAS,9,...,18,2019,1,ENERO,31,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,2,15 a 19 años
19929,2004,3,MARZO,7,14,4,UNION LIBRE,28,TAMAULIPAS,40,...,6,2019,2,FEBRERO,3,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,1,10 a 14 años
19930,1991,8,AGOSTO,7,27,5,CASADO,28,TAMAULIPAS,3,...,7,2019,2,FEBRERO,23,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años
19931,1983,5,MAYO,15,36,4,UNION LIBRE,28,TAMAULIPAS,32,...,11,2019,11,NOVIEMBRE,9,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años

In [7]:
mm_df.head(5)

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD
0,0,0,NO ESPECIFICADO,0,35,4,UNION LIBRE,8,CHIHUAHUA,29,...,5,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
1,0,0,NO ESPECIFICADO,0,20,5,CASADO,8,CHIHUAHUA,47,...,6,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años
2,1962,7,JULIO,12,39,5,CASADO,12,GUERRERO,20,...,24,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años
3,1974,2,FEBRERO,10,27,5,CASADO,12,GUERRERO,41,...,17,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años
4,1980,4,ABRIL,18,20,4,UNION LIBRE,18,NAYARIT,9,...,15,0,0,NO ESPECIFICADO,0,2002,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,3,20 a 24 años

In [8]:
mm_df.tail(5)

,ANIO_NACIMIENTO,MES_NACIMIENTO,MES_NACIMIENTOD,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ESTADO_CONYUGALD,ENTIDAD_RESIDENCIA,ENTIDAD_RESIDENCIAD,MUNICIPIO_RESIDENCIA,...,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,MES_CERTIFICACIOND,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,RAZON_MORTALIDAD_MATERNAD,EDAD_QUINQUENAL,EDAD_QUINQUENALD
19927,1985,7,JULIO,16,33,5,CASADO,28,TAMAULIPAS,3,...,20,2019,1,ENERO,19,2019,0,MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...,5,30 a 34 años
19928,2001,8,AGOSTO,31,17,1,SOLTERO,28,TAMAULIPAS,9,...,18,2019,1,ENERO,31,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,2,15 a 19 años
19929,2004,3,MARZO,7,14,4,UNION LIBRE,28,TAMAULIPAS,40,...,6,2019,2,FEBRERO,3,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,1,10 a 14 años
19930,1991,8,AGOSTO,7,27,5,CASADO,28,TAMAULIPAS,3,...,7,2019,2,FEBRERO,23,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,4,25 a 29 años
19931,1983,5,MAYO,15,36,4,UNION LIBRE,28,TAMAULIPAS,32,...,11,2019,11,NOVIEMBRE,9,2019,1,MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...,6,35 a 39 años

In [9]:
mm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19932 entries, 0 to 19931
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ANIO_NACIMIENTO            19932 non-null  int64
 1   MES_NACIMIENTO             19932 non-null  int64
 2   MES_NACIMIENTOD            19932 non-null  object
 3   DIA_NACIMIENTO             19932 non-null  int64
 4   EDAD                       19932 non-null  int64
 5   ESTADO_CONYUGAL            19932 non-null  int64
 6   ESTADO_CONYUGALD           19932 non-null  object
 7   ENTIDAD_RESIDENCIA         19932 non-null  int64
 8   ENTIDAD_RESIDENCIAD        19932 non-null  object
 9   MUNICIPIO_RESIDENCIA       19932 non-null  int64
 10  MUNICIPIO_RESIDENCIAD      19932 non-null  object
 11  LOCALIDAD_RESIDENCIA       19932 non-null  int64
 12  LOCALIDAD_RESIDENCIAD      19932 non-null  object
 13  TAMANIO_LOCALIDAD          19932 non-null  int64
 14  TAMANIO_LOCALIDADD         19932 non-null  object
 15  OCUPACION_HABITUAL         19932 non-null  int64
 16  OCUPACION_HABITUALD        19932 non-null  object
 17  ESCOLARIDAD                19932 non-null  int64
 18  ESCOLARIDADD               19932 non-null  object
 19  DERECHOHABIENCIA           19932 non-null  int64
 20  DERECHOHABIENCIAD          19932 non-null  object
 21  ENTIDAD_OCURRENCIA         19932 non-null  int64
 22  ENTIDAD_OCURRENCIAD        19932 non-null  object
 23  MUNICIPIO_OCURRENCIA       19932 non-null  int64
 24  MUNICIPIO_OCURRENCIAD      19932 non-null  object
 25  LOCALIDAD_OCURRENCIA       19932 non-null  int64
 26  LOCALIDAD_OCURRENCIAD      19932 non-null  object
 27  SITIO_DEFUNCION            19932 non-null  int64
 28  SITIO_DEFUNCIOND           19932 non-null  object
 29  ANIO_DEFUNCION             19932 non-null  int64
 30  MES_DEFUNCION              19932 non-null  int64
 31  MES_DEFUNCIOND             19932 non-null  object
 32  DIA_DEFUNCION              19932 non-null  int64
 33  HORA_DEFUNCION             19932 non-null  int64
 34  MINUTOS_DEFUNCION          19932 non-null  int64
 35  ASISTENCIA_MEDICA          19932 non-null  int64
 36  ASISTENCIA_MEDICAD         19932 non-null  object
 37  CAUSA_CIE_4                19932 non-null  object
 38  CAUSA_CIE_4D               19932 non-null  object
 39  CERTIFICO                  19932 non-null  int64
 40  CERTIFICOD                 19932 non-null  object
 41  ENTIDAD_REGISTRO           19932 non-null  int64
 42  ENTIDAD_REGISTROD          19932 non-null  object
 43  MUNICIPIO_REGISTRO         19932 non-null  int64
 44  MUNICIPIO_REGISTROD        19932 non-null  object
 45  ANIO_REGISTRO              19932 non-null  int64
 46  MES_REGISTRO               19932 non-null  int64
 47  MES_REGISTROD              19932 non-null  object
 48  DIA_REGISTRO               19932 non-null  int64
 49  ANIO_CERTIFICACION         19932 non-null  int64
 50  MES_CERTIFICACION          19932 non-null  int64
 51  MES_CERTIFICACIOND         19932 non-null  object
 52  DIA_CERTIFICACION          19932 non-null  int64
 53  ANIO_BASE_DATOS            19932 non-null  int64
 54  RAZON_MORTALIDAD_MATERNA   19932 non-null  int64
 55  RAZON_MORTALIDAD_MATERNAD  19932 non-null  object
 56  EDAD_QUINQUENAL            19932 non-null  int64
 57  EDAD_QUINQUENALD           19932 non-null  object
dtypes: int64(34), object(24)
memory usage: 8.8+ MB

In [10]:
mm_df.describe()

,ANIO_NACIMIENTO,MES_NACIMIENTO,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ENTIDAD_RESIDENCIA,MUNICIPIO_RESIDENCIA,LOCALIDAD_RESIDENCIA,TAMANIO_LOCALIDAD,OCUPACION_HABITUAL,...,MUNICIPIO_REGISTRO,ANIO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,EDAD_QUINQUENAL
count,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,...,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000,19932.000000
mean,1973.453743,4.128035,10.653923,29.694311,3.878236,16.244180,58.133604,63.299468,7.929510,14.326510,...,52.807395,2009.806241,6.659593,15.710315,1737.637217,5.700030,13.578166,2009.806241,0.908138,4.302779
std,122.452316,3.830743,10.165241,35.122756,1.478145,7.853618,73.450325,448.415444,5.894308,25.402938,...,63.276869,5.147377,3.458502,9.900973,689.173210,3.929471,10.001032,5.147377,0.288839,1.529135
min,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2002.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2002.000000,0.000000,1.000000
25%,1975.000000,0.000000,0.000000,22.000000,4.000000,10.000000,13.000000,1.000000,2.000000,2.000000,...,14.000000,2005.000000,4.000000,8.000000,2005.000000,2.000000,4.000000,2005.000000,1.000000,3.000000
50%,1981.000000,3.000000,9.000000,28.000000,4.000000,15.000000,35.000000,1.000000,7.000000,2.000000,...,35.000000,2009.000000,7.000000,15.000000,2009.000000,6.000000,13.000000,2009.000000,1.000000,4.000000
75%,1988.000000,7.000000,19.000000,34.000000,5.000000,21.000000,77.000000,14.000000,14.000000,11.000000,...,72.000000,2014.000000,10.000000,23.000000,2014.000000,9.000000,22.000000,2014.000000,1.000000,5.000000
max,2005.000000,12.000000,31.000000,998.000000,8.000000,35.000000,570.000000,7777.000000,17.000000,99.000000,...,570.000000,2019.000000,12.000000,99.000000,2019.000000,12.000000,99.000000,2019.000000,1.000000,11.000000

In [6]:
mm_df['ANIO_NACIMIENTO']

0           0
1           0
2        1962
3        1974
4        1980
         ...
19927    1985
19928    2001
19929    2004
19930    1991
19931    1983
Name: ANIO_NACIMIENTO, Length: 19932, dtype: int64

In [11]:
mm_df['ANIO_NACIMIENTO'].value_counts()

1981    820
1980    814
1982    810
1984    809
1983    794
       ...
1938      1
1927      1
1953      1
1932      1
1906      1
Name: ANIO_NACIMIENTO, Length: 86, dtype: int64